<% if development? %>
	<%= partial "layouts/wiki_header" %>
<% end %>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= current_page.data.title %></title>
	<!-- include normalizer -->
	<%= stylesheet_link_tag "normalize" %>
	<!-- include auto generated css -->
  <%= stylesheet_link_tag "all" %>
	<!-- include auto generated javascript -->
	<%= javascript_include_tag "all" %>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="images/pm_logo.png">
            <a class="navbar-brand nav-link" href="/index.html">Photosynthetic Magic</a>
          </div>
          <ul class="list-inline nav navbar-right">
            <li class="list-inline-item dropdown"><a class="nav-link" href="#">Project<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Modeling</a></li>
                <li><a class="nav-link" href="#">Glyoxylate Shunt</a></li>
                <li><a class="nav-link" href="#">Transport</a></li>
                <li><a class="nav-link" href="#">Biosensor</a></li>
              </ul>
            </li>
            <li class="list-inline-item dropdown"><a class="nav-link" href="#">Practices<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Carbon Efficiency</a></li>
                <li><a class="nav-link" href="/outreach.html">Outreach</a></li>
                <li><a class="nav-link" href="#">Entrepreneurship</a></li>
                <li><a class="nav-link" href="#">Safety</a></li>
              </ul>
            </li>
            <li class="list-inline-item dropdown"><a class="nav-link" href="#">Lab<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Parts</a></li>
                <li><a class="nav-link" href="/interlab.html">Interlab Study</a></li>
                <li><a class="nav-link" href="#">Lab Journal</a></li>
                <li><a class="nav-link" href="#">Protocol</a></li>
                <li><a class="nav-link" href="#">Methods</a></li>
              </ul>
            </li>
            <li class="list-inline-item dropdown"><a class="nav-link" href="/team.html">Team<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/attributions.html">Attributions</a></li>
                <li><a class="nav-link" href="#">Collaborations</a></li>
                <li><a class="nav-link" href="/sponsors.html">Sponsors</a></li>
              </ul>
            </li>
            <li class="list-inline-item"><a class="nav-link" href="#">Achievements</a></li>
          </ul>
        </div>
      </nav>

      <div class="inner cover">
        <%= yield %>
      </div>

      <div class="footer">
        <div class="footer-col-left">
          <% data.sponsors.each do |sponsor| %>
            <% link_to sponsor.url do %>
              <%= image_tag sponsor.img, :class => "footer-sponsor-img" %>
            <% end %>
          <% end %>
        </div>
        <div class="footer-col-right">

        </div>
      </div>
    </div>
  </div>
</div>
<% if development? %>
	<%= partial "layouts/wiki_footer" %>
<% end %>
