<% if config[:layout_wiki] == '1' %>
	<%= partial "layouts/wiki_header" %>
<% end %>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= current_page.data.title %></title>
	<!-- include normalizer -->
	<%= stylesheet_link_tag "normalize" %>
	<!-- include auto generated css -->
	<%= stylesheet_link_tag "all" %>
	<!-- include auto generated javascript -->
	<%= javascript_include_tag "all" %>
	<!-- include mathjax -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</head>
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="/images/pm_logo.png">
            <a class="navbar-brand nav-link" href="/index.html">Photosynthetic Magic</a>
          </div>
          <ul class="list-inline nav navbar-right">
            <li class="list-inline-item dropdown"><a class="nav-link" href="/Project.html">Project<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/Project.html">Overview</a></li>
                <li><a class="nav-link" href="/Produce.html">Production</a></li>
                <li><a class="nav-link" href="/Export.html">Exportation</a></li>
                <li><a class="nav-link" href="/Detect.html">Detection</a></li>
              </ul>
            </li>
            <li class="list-inline-item"><a class="nav-link" href="/Model.html">Model</a></li>
            <li class="list-inline-item dropdown"><a class="nav-link" href="/Practices.html">Practices<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/Practices.html">Overview</a></li>
                <li><a class="nav-link" href="/Carbon.html">Carbon Efficiency</a></li>
                <li><a class="nav-link" href="/HP/Silver.html">HP Silver</a></li>
                <li><a class="nav-link" href="/HP/Gold_Integrated.html">HP Gold</a></li>
                <li><a class="nav-link" href="/Engagement.html">Engagement</a></li>
                <li><a class="nav-link" href="/Safety.html">Safety</a></li>
              </ul>
            </li>
            <li class="list-inline-item dropdown"><a class="nav-link" href="/Lab.html">Lab<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/Lab.html">Overview</a></li>
                <li><a class="nav-link" href="/Parts.html">Parts</a></li>
                <li><a class="nav-link" href="/InterLab.html">Interlab Study</a></li>
                <li><a class="nav-link" href="/LabJournal.html">Lab Journal</a></li>
                <li><a class="nav-link" href="/Protocol.html">Protocols</a></li>
                <li><a class="nav-link" href="/Methods.html">Methods</a></li>
              </ul>
            </li>
            <li class="list-inline-item dropdown"><a class="nav-link" href="/Team.html">Team<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/Team.html">Overview</a></li>
                <li><a class="nav-link" href="/Attributions.html">Attributions</a></li>
                <li><a class="nav-link" href="/Collaborations.html">Collaborations</a></li>
                <li><a class="nav-link" href="/Sponsors.html">Sponsors</a></li>
              </ul>
            </li>
            <li class="list-inline-item"><a class="nav-link" href="/Achievements.html">Achievements</a></li>
          </ul>
        </div>
      </nav>

      <div class="inner cover">
        <%= yield %>
      </div>

      <div class="footer">
        <div class="footer-wide">
          <% data.sponsors.each do |sponsor| %>
            <a href="<%=sponsor.url-%>" style = "order:<%=sponsor.footorder-%>" target="_blank">
              <%= image_tag sponsor.img, :class => "footer-sponsor-img", :id => sponsor.id %>
            </a>
          <% end %>
        </div>
        <!--//
        <div class="footer-col-right">
          <a href="mailto:igem17.ams@gmail.com" target="_top">
            <img src="/images/email_logo.jpg" class="footer-sponsor-img">
          </a>
          <a href="https://www.facebook.com/igem2017amsterdam/" target="_blank">
            <img src="/images/facebook_logo.png" class="footer-sponsor-img">
          </a>
        </div>
        //-->
      </div>
    </div>
  </div>
</div>
<% if config[:layout_wiki] == '1' %>
	<%= partial "layouts/wiki_footer" %>
<% end %>
