<% wrap_layout :layout do %>
	<div class="summary-container">
		<div class="summary-col-left">
			<img class="animated-module-icon" src='<%= yield_content :icon_src %>'>
			
		</div>
		<div class="summary-col-mid">
			<p class="summary-text">
				<%= yield_content :goal %><br>
			</p>
		</div>
		<div class="vertical-text-container-outer">
			<div class="vertical-text-container">
				<p class="vertical-text"><%= yield_content :vertical_text %></p>
			</div>
		</div>
	</div>
	<div class="module-outer-container">
		<div class="module-visible-container">
			<h1>Overview</h1>
			<p><%= yield_content :overview %></p>
		</div>
		<div class="module-visible-container">
			<h1>Highlights</h1>
			<%= yield_content :highlights %>
		</div>
		<%= yield_content :collapsibles %>
		<div class="module-visible-container">
			<h1>References</h1>
			<%= yield_content :references %>
		</div>
	</div>


	<script>
		function displayCollapsible(clicked_id) {

		    var inner = document.querySelector("#"+clicked_id+".module-collapsible-container-inner");
		    var text = document.querySelector("#"+clicked_id+".module-collapsible-container-outer > .in-text-link")
		    if (inner.style.display === "none") {
		        inner.style.display = "flex";
		        console.log(text.innerHTML);
		        text.innerHTML = text.innerHTML.replace(/▶/g, "▼");
		        
		    } else {
		        inner.style.display = "none";
		        text.innerHTML = text.innerHTML.replace(/▼/g, "▶");
		        
		    }

		}
	</script>
<% end %>