<% wrap_layout :layout do %>
	<div class="summary-container">
		<div class="summary-col-left">
			<%= yield_content :icon %><br>
		</div>
		<div class="summary-col-mid">
			<p class="summary-text">
				<%= yield_content :goal %><br>
			</p>
		</div>
		<div class="vertical-text-container-outer">
			<div class="vertical-text-container">
				<p class="vertical-text"><%= yield_content :vertical_text %></p>
			</div>
		</div>
	</div>
	<div class="module-outer-container">
		<div class="module-visible-container">
			<h1>Overview</h1>
			<p><%= yield_content :overview %></p>
		</div>
		<div class="module-visible-container">
			<h1>Highlights</h1>
			<%= yield_content :highlights %>
		</div>
		<%= yield_content :collapsibles %>
		<div class="module-visible-container">
			<h1>References</h1>
			<%= yield_content :references %>
		</div>
		<%= yield_content :supplementary %>
	</div>
<% end %>